<div class="header">
    <div class="header-container">
        <div class="nav-content">
            <div class="nav-logo">
                <a class="logo" href="index.html"><img src="../assets/images/logo-white.png" alt="logo-white"></a>
            </div>
            <nav class="nav">
                <ul class="nav-list d-flex">
                    <li class="nav-item"><a href="#">系列鏡框</a></li>
                    <li class="nav-item"><a href="stores.html">門市據點</a></li>
                    <li class="nav-item"><a href="#">部落格</a></li>
                    <li class="nav-item"><a href="#">常見問題</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>