@import "reset.css";
:root {
    --primary: #AA0601;
    --secondary: #650300;
    --text-color: #fff;
}
body {
    /* font-family: 'Bruno Ace SC', sans-serif; */
    font-weight: 400;
    line-height: 1.5;
    font-family: "Roboto","Noto Sans TC", sans-serif;
    font-style: normal;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.d-flex{
    display: flex;
}
.justify-content-flex-end{
    justify-content: flex-end;
}
.text-center{
    text-align: center;
}

.header {
    background-color: var(--primary);
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;  /*清除圖片底下的空白*/
}

.container {
    max-width: 1320px; /*1296+24px(補padding的寬度)*/
    margin: auto;
    padding: 0 12px; /*當視窗縮小時內容就不會貼在視窗邊緣 */
    /* border: 1px solid #10ae2f; */
}

@media (max-width: 992px) {
    .container {
        max-width: 660px;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 372px;
        padding: 0px 15px;
    }
}

.section-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}


.container_header {
    max-width: 1296px;
    margin: auto;
}

@media (max-width: 1320px) {
    .header-container {
        padding: 0px 12px;
    }
}

@media (max-width: 992px) {
    .header-container {
        padding: 0px 36px;
    }
}

@media (max-width: 767px) {
    .header-container {
        padding: 0px;
    }
}

.nav-content{
    /* padding: 16px 0px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 767px) {
    .nav-content {
        flex-direction: column;
        align-items: stretch;
    }
}
.header .nav-logo{
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
}

@media (max-width: 767px) {
    .header .nav-logo {
        padding-left: 15px;
        width: 100%;
        /* display: block; */
    }
}

.header .nav-logo a img{
    width: 80px;
}
.header .nav-logo a {
    display: block;
    width: 80px;
     height: 48.56px;
}

.header .nav-list {
     font-size: 20px;
}
@media (max-width: 767px) {
    .header .nav-list {
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
        width: 100%; 
    }
}

@media (max-width: 767px) {
    .header .nav-item {
        width: 50%;
        border: 1px solid white;
    }
}


.header .nav-content .nav-item a {
    color: var(--text-color);
    display: block;
    text-align: center;
    padding: 24px 15px;
}


@media (max-width: 992px) {
  .header .nav-list a {
    padding: 12px 32px;
  }
}
@media (max-width: 767px) {
  .header .nav-list a {
    padding: 12px 0px;
  }
}



/* banner */
.bn-img {
    background: url(../images/home-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 787px;
    max-width: 100%;
}

@media (max-width: 767px) {
    .bn-img {
        background: url(../images/home-header-sm.png);
        background-position: center center;
        background-size: cover;
        height: 396px;
    }
}
 /* .bn-container{
   height: 100%;
  display: flex;
   justify-content: center;
   flex-direction: column; 
}*/


@media (max-width: 767px) {
    .banner {
        height: 396px;
    }
    .bn-img {
        height: 396px;
    }
}

 .bn-content{
    height: 100%;
    color: var(--secondary);
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 767px) {
    .banner .bn-content {
        height: 100%;
        max-width: 660px;
    }
}

.bn-content .bn-item1 {
 font-size: 36px;
}
@media (max-width: 767px) {
    .bn-content .bn-item1 {
        font-size: 16px;
    }
}
.bn-content .bn-item2 {
font-size: 64px;
font-weight: 700;
}

@media (max-width: 767px) {
    .bn-content .bn-item2 {
        font-size: 24px;
    }
}
.bn-item3 a{
    font-size: 20px;
    color: var(--text-color);
}
.bn-content .btn {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 6px 12px;
    margin-left: auto;
    background-color: var(--secondary);
}



/* 服務 */
.service-title {
       text-align: center;
        color: var(--secondary);
        font-size: 48px;
        font-weight: 700;
}

@media (max-width: 767px){
    .service-title {
            font-size: 24px;
        }
}

.section.service{
    padding: 80px 0px;
    background-color: #FBF2F2;
}

.service-row{
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 24px;
}
.col-3 {
    width: 25%;
    padding-right: 12px;
    padding-left: 12px;
}

.service-row .card h4{
    color: var(--secondary);
    font-size: 24px;
}
.service-row .card p {
    margin-top: 8px;
}


@media (max-width: 992px) {
    .col-md-6{
        width: 50%;
    } 
}

@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .service-row li {
        margin-top: 24px;
    }
}

/* 經典鏡框 */
.section.classic{
    padding: 80px 0px;
}
.classic .section-title {
    color: var(--secondary);
}
.classic-row {
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 48px;
}
.col-4 {
    width: calc(100% / 3);
    padding: 0px 12px;
}

@media (max-width: 992px) {
    .col-md-12 {
        width: 100%;
    }
}


@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
    }
}
.card-photo img{
    max-width: 100%;
}
@media (max-width: 767px) {
    .card-photo {
        max-width: 336px;
    }
}
.classic .card-title{
font-size: 48px;
font-weight: 900;
font-style: italic;
text-align: center;
color: var(--secondary);
margin-top: 8px;
}

/* 聯名 */
.co-branding .section-title {
    color: var(--text-color);
}
.co-branding {
    background: url(../images/index-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
@media (max-width: 767px) {
    .co-branding {
        background-image: url(../images/index-bg-sm.png);
    }
}
.co-branding .container{
    padding: 80px 0px;
}


.co-branding-row {
    margin: 0px -12px;
    flex-wrap: wrap;
}

.co-branding-row .list-item {
    padding: 0px 12px;
}
.list-item-50 {
    width: 50%;
}
.list-item-25 {
    width: 25%;
}
.list-item-33 {
    /* width: 33.33%; */
     width: calc(100% / 3)
}

@media (max-width: 992px) {
    /* .list-item-md-50 {
        width: 50%;
    }

    .list-item-md-83 {
        width: 576px;
    } */

    .list-item-md-100 {
        width: 100%;
    }
}

/* @media (max-width: 767px) {
    .list-item-sm-100 {
        width: 100%;
    }
} */

/* @media (max-width: 992px) {
    .co-branding-row {
        width: 696px;
        flex-direction: column;
        justify-content: center;
    }
} */

@media (max-width: 992px) {
    .co-branding-row li{
        margin-top: 24px;
    }

}

.co-branding-row li img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}



.co-branding li p {
    font-size: 48px;
    font-weight: 900;
    font-style: italic;
    color: var(--primary);
    text-align: center;
    background: var(--text-color);
    padding: 8px 0px;
}







/* footer */
.bg_primary {
    background: var(--primary);
}
/* .container_footer {
    padding: 48px 0px 32px;
} */

.container_footer {
        padding: 48px 12px 32px;
}

@media (max-width: 992px) {
    .container_footer {
        padding: 48px 36px 40px;
    }
}

@media (max-width: 767px) {
    .container_footer {
        padding: 24px 13px 24px;
    }
}

.footer-content {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
}

.footer .info-list {
    display: flex;
    gap: 48px;
    margin-bottom: 24px;
}

@media (max-width: 767px) {
    .footer .info-list {
        display: none;
    }
}

.footer .list-item a {
    display: flex;
    color: white;
    padding: 16px 0px;
}

@media (max-width: 992px) {
    .footer .list-item a {
        padding: 12px 0px;
    }
}

.footer .info-connect p {
    font-size: 36px;
    color: white;
    display: flex;
    align-items: center; 
    border: 1px solid yellow;
}

@media (max-width: 767px) {
    .footer .info-connect p {
        font-size: 16px;
    }
}

.footer .info-connect>p:nth-of-type(1) {
    margin-bottom: 8px;
}

.footer .info-connect>p:nth-of-type(2) {
    margin-bottom: 32px;
}

@media (max-width: 767px) {
    .footer .info-connect>p:nth-of-type(2) {
        margin-bottom: 24px;
    }
}

.footer .info-connect p span {
    /* display: inline-block; */
    font-size: 36px;
    margin-right: 22px;
}

@media (max-width: 767px) {
    .footer .info-contact p span {
        font-size: 16px;
        margin-right: 11px;
    }
}

.footer .social_media {
    display: flex;
    gap: 32px;
}

@media (max-width: 767px) {
    .footer .social_media {
        gap: 16px;
    }
}

.footer .social_media a {
    display: block;
    width: 48px;
    height: 48px;
}

@media (max-width: 992px) {
    .footer .social_media a {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 767px) {
    .footer .social_media a {
        width: 24px;
        height: 24px;
    }
}

.footer .copyright {
    display: flex;
    border-top: 1px solid white;
    padding-top: 32px;
    line-height: 21px;
}

@media (max-width: 767px) {
    .footer .copyright {
        flex-direction: column;
        row-gap: 8px;
        padding-top: 16px;
        line-height: 1.5;
    }
}

.footer .copyright p {
    color: white;
}

.footer .copyright>p:nth-of-type(2) {
    margin-right: 40px;
}

.footer .copyright p a {
    display: block;
    color: white;
}

.footer .copyright> :first-child {
    margin-right: auto;
}